html, body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  box-sizing:border-box;
}
canvas {
  display: block;
}
script{
  position:relative;
}
.container{
  background-image:url(#);
  max-width:#px;
  position:absolute;
  width:100%;
}

p {
  color:white;
  text-align:center;
  font-size:16px;
  letter-spacing: 8px;
  opacity: 0.7
}



.btn {
  display:inline-block;
  opacity:0.5;
  color:white;
  float:right;
  margin-right:10px;
  transition: all 0.3s;
  position:relative;
  top:300px;
}

.btn:hover {
  opacity:1.0;
}
